*{
    margin: 0;
    padding: 0px;
    
}
/* banner-part */
 .banner{
background-image:url('../resources/Banner\ Image.png');
width: 1320px;
height: 600px;
border-radius: 16px;
margin: 0 auto;
border-radius: 16px;
background: linear-gradient(180deg, #070211 0%,);
 }
h4{
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 32px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
h2 {
    color: #FFF;
text-align: center;
font-family: Merriweather;
font-size: 72px;
font-style: normal;
font-weight: 900;
line-height: 95px; /* 131.944% */
}
.banner-text{
    
padding-top: 100px;
}
